/* ------------
  Links & Buttons
------------ */
a, button {
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}
a:link,a:visited{
  color: inherit;
}
.no-touchevents .text-green a:hover,
.no-touchevents a.text-green:hover,
.no-touchevents .text-green a:active,
.no-touchevents a.text-green:active{
  color: $white;
}
.current-link {
  cursor: default;
}
button, button:hover {
  outline: none;
  border: none;
  background: transparent
}
.boxed{
  font-size: 24px;
  line-height: 65px;
  height: 65px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

@media screen and (max-width: map-get($grid-breakpoints, "md")){
  .boxed{
    font-size: 18px;
    line-height: 40px;
    height: 40px;
  }
}