/* ------------
  Links & Buttons
------------ */
a, button {
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}
a:link,a:visited{
  color: inherit;
}
.no-touchevents .text-green a:hover,
.no-touchevents a.text-green:hover,
.no-touchevents .text-green a:active,
.no-touchevents a.text-green:active{
  color: $white;
}
.current-link {
  cursor: default;
}
button, button:hover {
  outline: none;
  border: none;
  background: transparent
}