html{
  color: $grey;  
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
   font-weight: 400 
}
h1, .h1{
  font-family: inherit;

  &.heading{
    position: relative;
  }
}
h2, .h2{

}
h3, .h3{

}
h4, .h4{

}
h5, .h5{

}
h6,.h6{
  color: inherit;
}
small{

}
p, .p, label{
  font-family: inherit;
  &:last-child{
    margin-bottom: 0;
  }
}
.p{
  color: inherit;
}
.pushed{
  margin-left: 2.5em
}
dd{

}
time{

}
a{
  font-family: inherit;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-underline{
  text-decoration: underline;
}
strong{
  font-weight: 700;
}
html body .font-black,
html body .font-weight-900{
  font-weight: 900
}