// Colors
$grey: #303A3B;
$grey-light: #F2F2F2;
$green: #5BC8AF; 
$white: #FFFFFF;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 580px,
  md: 768px,
  lg: 992px,
  xl: 1285px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 688px,
  lg: 882px,
  xl: 1185px
) !default;