// Primary Colors
$grey: #303A3B;
$green: #5BC8AF; 

// Secondary Colors

// Tertiary Colors

// Background Color


// Grids

// Sizes
$tablet-p: 780px; // -
$tablet-l: 1020px; // -
$laptop:1350px; // -
$laptop:1500px; //+

// Section Heights

// Letter Spacing

$site_url: '';