.page-header{
  position: absolute;
  top:30px;
  z-index: 10;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;

  h1{
    font-size: 18px;
  }
  > div.d-flex{
    height: 100%;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")){
  .page-header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba($grey, 0.7);
    height: 70px;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")){
  .page-header{
    height: 60px;
  }
}