.hero{
  position: relative;
  height: 808px;
  max-height: 90vh;

  &-content-wrap,
  &-bg,
  &-bg img{
    width: 100%;
    height: 100%;
  }

  &-bg{
    position: absolute;
    @extend .zero;
    z-index: -1;
    img{
      object-fit: cover;  
    }
    object-fit: cover;
  }
  &-title{
    font-size: 48px;
  }

  &-description{
    line-height: 1.2857142857;
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
  }

  &-cta-wrap{
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    border-radius: 0 0 2px 2px;
    position: relative;
    top: -80px;
  }
  
  &-cta{
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, "lg")){
  .hero{
    &-description{
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")){
  .hero{
    &-title{
      font-size: 36px;
      strong span{
        display: block
      }
    }
    &-cta-wrap{
      position: absolute;
      bottom: 50px;
      left: 0;
      top: auto;
      right: 0;
    }
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "sm")){
  .hero{
    height: 550px;
    &-content{
      margin-top: 130px
    }
    &-description{      
      font-size: 14px;
      line-height: 18px;
    }
    &-cta-wrap{
      font-size: 18px;
      line-height: 22px;
      height: 130px;
    }
    &-cta{
      a{
        display: block;
      }
    }
  }
}